# Domains

In [1]:
import pandas as pd
import numpy as np

In [2]:
tweets = pd.read_csv('data/porn/tweets.csv', encoding='utf-8-sig', sep='\t')

/home/matteo/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,9,19,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
tweets['url'].isnull().value_counts()

True     153668
False     43284
Name: url, dtype: int64

In [4]:
users.columns

NameError: name 'users' is not defined

In [5]:
tweets.columns

Index(['Unnamed: 0', 'contributors', 'coordinates', 'created_at',
       'display_text_range', 'extended_entities', 'favorite_count',
       'favorited', 'full_text', 'geo', 'id', 'id_str',
       'in_reply_to_screen_name', 'in_reply_to_status_id',
       'in_reply_to_status_id_str', 'in_reply_to_user_id',
       'in_reply_to_user_id_str', 'is_quote_status', 'lang', 'place',
       'possibly_sensitive', 'quoted_status', 'quoted_status_id',
       'quoted_status_id_str', 'quoted_status_permalink', 'retweet_count',
       'retweeted', 'retweeted_status', 'source', 'truncated', 'url',
       'user_id'],
      dtype='object')

In [7]:
tweets['url']

0                                                       NaN
1                                                       NaN
2                                                       NaN
3                                                       NaN
4                                                       NaN
5                                                       NaN
6                                                       NaN
7                                                       NaN
8                                                       NaN
9                                                       NaN
10                                                      NaN
11                                                      NaN
12                                                      NaN
13                                                      NaN
14                                                      NaN
15                                                      NaN
16                                                      NaN
17                                                      NaN
18                                                      NaN
19                                                      NaN
20        http://www.actuarialpost.co.uk/article/ten-cyb...
21                                                      NaN
22                             https://youtu.be/EpMcrYN4XAY
23                 https://www.instagram.com/p/Bc8ftuVFOl5/
24        https://twitter.com/jsacasting/status/94364780...
25        https://www.facebook.com/cafemilagro/videos/10...
26                                                      NaN
27        https://twitter.com/el_universal_mx/status/943...
28                                                      NaN
29                                                      NaN
                                ...
196922                                                  NaN
196923    https://twitter.com/g_thurine/status/944288477...
196924                                                  NaN
196925                                                  NaN
196926                                                  NaN
196927                                                  NaN
196928                                                  NaN
196929                                                  NaN
196930                                http://tunnelbear.com
196931                                    http://slither.io
196932                                    http://slither.io
196933                                                  NaN
196934                                                  NaN
196935                                                  NaN
196936                                                  NaN
196937                                                  NaN
196938                                                  NaN
196939                                                  NaN
196940                             http://puu.sh/54QyW.jpeg
196941                                                  NaN
196942                                                  NaN
196943                                                  NaN
196944                                                  NaN
196945                                                  NaN
196946                                                  NaN
196947                                                  NaN
196948           http://www.youtube.com/watch?v=fQO2Opzvyeg
196949                        http://youtu.be/UEsPFL5fKK4?a
196950                                                  NaN
196951                                                  NaN
Name: url, Length: 196952, dtype: object

In [56]:
from urllib.parse import urlparse

def extract_domain(domain):
    data = urlparse(string)
    return data.netloc

In [57]:
string

'http://puu.sh/54QyW.jpeg'

In [58]:
extract_domain(string)

'puu.sh'