# Domains

In [5]:
import pandas as pd
import numpy as np

In [8]:
#tweets = pd.read_csv('data/porn/tweets.csv', encoding='utf-8-sig', sep='\t')
users = pd.read_csv('data/porn/users.csv', encoding='utf-8-sig')

In [11]:
users = users.id

In [12]:
users.to_csv()

0                141182021
1                146443776
2               1148187661
3                316622618
4                405969757
5               2915427651
6               4375487713
7                466382361
8                879294943
9                291507796
10              1940026363
11               262153380
12               107128767
13               468042215
14               502997845
15               301703953
16               826079983
17               996283452
18               430778635
19              2159330839
20      745548655277465600
21               962936970
22               377411429
23               247726133
24               234065445
25              1632654704
26               370123438
27               454066957
28              2350817323
29               869440951
               ...
3768             371354451
3769            1437796501
3770            3133291326
3771            3028210406
3772             221990507
3773             993580177
3774    911294972745437185
3775            1225675100
3776            2358456775
3777            2840704034
3778             335476914
3779    802563389591433216
3780    908444106615136257
3781             480748261
3782            2655178307
3783            3377576705
3784             751535774
3785             444556257
3786             552077610
3787             289958299
3788             521853212
3789    832818027771076608
3790            1923838766
3791            1384509600
3792    742798168341938176
3793              84045956
3794            1601960322
3795    860034643814494209
3796            1361388482
3797             292732463
Name: id, Length: 3798, dtype: int64

In [ ]:
users = pd.read_csv('data/propaganda/tweets.csv', encoding='utf-8-sig', sep='\t')

In [ ]:
tweets['url'].isnull().value_counts()

In [ ]:
users.columns

In [ ]:
tweets.columns

In [62]:
porn['url']

0                                                       NaN
1                                                       NaN
2                                                       NaN
3                                                       NaN
4                                                       NaN
5                                                       NaN
6                                                       NaN
7                                                       NaN
8                                                       NaN
9                                                       NaN
10                                                      NaN
11                                                      NaN
12                                                      NaN
13                                                      NaN
14                                                      NaN
15                                                      NaN
16                                                      NaN
17                                                      NaN
18                                                      NaN
19                                                      NaN
20        http://www.actuarialpost.co.uk/article/ten-cyb...
21                                                      NaN
22                             https://youtu.be/EpMcrYN4XAY
23                 https://www.instagram.com/p/Bc8ftuVFOl5/
24        https://twitter.com/jsacasting/status/94364780...
25        https://www.facebook.com/cafemilagro/videos/10...
26                                                      NaN
27        https://twitter.com/el_universal_mx/status/943...
28                                                      NaN
29                                                      NaN
                                ...
191537                                                  NaN
191538    https://twitter.com/brixtonbrewery/status/9419...
191539                                                  NaN
191540                                                  NaN
191541                                                  NaN
191542                                                  NaN
191543                                                  NaN
191544                                                  NaN
191545                                                  NaN
191546                                                  NaN
191547                                                  NaN
191548    https://twitter.com/redzuanahmad94/status/9498...
191549                 http://Youtube.com/LanceStewartVlogs
191550                                                  NaN
191551                                                  NaN
191552                                                  NaN
191553                                                  NaN
191554    http://www.liberoquotidiano.it/gallery/italia/...
191555                                                  NaN
191556                                                  NaN
191557                                                  NaN
191558                                                  NaN
191559                                                  NaN
191560                                                  NaN
191561                                                  NaN
191562                                                  NaN
191563                                                  NaN
191564                                                  NaN
191565                                                  NaN
191566                                                  NaN
Name: url, Length: 191567, dtype: object