In [43]:
import pandas as pd
import numpy as np
import tweepy
from sklearn.ensemble import RandomForestClassifier

### targets:
####    0: porn
####    1: propaganda
####    2: spam
####    3: fake followers
####    4: genuine accounts

# Test users
### 3201005265 - porn - 0
### 3593771535 - porn - 0
### 126523026 - spam - 2
### 3318703632 - propaganda - 1
### 875124919 - propaganda - 1

In [46]:
# create connection with Twitter API

CONSUMER_KEY = 'J3uhwWHdmSt3uD69ry8r2kc3B'
CONSUMER_SECRET = 'LeuM7dVfFbXH0bc5fFkZIxlNiUXyjIx4Kcjh58HeWs2TrLijDx'
ACCESS_TOKEN = '327497511-5dNjiGaTQHASljoxNr1qlMOlHrrSB21HBFBDjx2E'
ACCESS_TOKEN_SECRET = 'tHLqwlhHYJWptW3femyq0rbMW6ZItu5yLQ3DFGJqJ8Xlg'

auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)
api = tweepy.API(auth)

In [47]:
ids = [3201005265, 3593771535, 126523026, 3318703632, 875124919]

In [48]:
test_set = []
for elem in ids:
    test_set.append(api.get_user(elem))

In [49]:
df = pd.DataFrame(columns=["statuses_count","followers_count","friends_count","favourites_count","listed_count","url","default_profile_image","profile_use_background_image","profile_background_image_url_https","profile_background_tile","profile_background_image_url","description"])
for user in test_set:
    df2 = pd.DataFrame([[user.statuses_count,
                            user.followers_count,
                            user.friends_count,
                            user.favourites_count,
                            user.listed_count,
                            user.url,
                            user.default_profile_image,
                            user.profile_use_background_image,
                            user.profile_background_image_url_https,
                            user.profile_background_tile,
                            user.profile_background_image_url,
                            user.description]],
                            columns=["statuses_count","followers_count","friends_count","favourites_count","listed_count","url","default_profile_image","profile_use_background_image","profile_background_image_url_https","profile_background_tile","profile_background_image_url","description"]
                          )
    df = df.append(df2, ignore_index=True)

In [50]:
df['description'] = df['description'].fillna('')
df['description'] = df['description'].apply(lambda x: len(x))

In [64]:
df['url']

0                      None
1                      None
2    http://t.co/zCj321TiF2
3                      None
4                      None
Name: url, dtype: object

In [54]:
df['default_profile_image'] = df['default_profile_image'].astype(int)

In [56]:
df['profile_background_tile'] = df['profile_background_tile'].astype(int)

In [58]:
df['profile_use_background_image'] = df['profile_use_background_image'].astype(int)

In [61]:
df['profile_background_image_url'] = df['profile_background_image_url'].apply(lambda x: int(not(int(pd.isnull(x)))))

In [63]:
df['profile_background_image_url_https'] = df['profile_background_image_url_https'].apply(lambda x: int(not(int(pd.isnull(x)))))

In [65]:
df['url'] = df['url'].apply(lambda x: int(not(int(pd.isnull(x)))))

In [66]:
df

,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,default_profile_image,profile_use_background_image,profile_background_image_url_https,profile_background_tile,profile_background_image_url,description
0,304192,6495,6883,258805,301,0,0,0,1,0,1,160
1,253,376,1192,0,1,0,0,1,1,0,1,0
2,41766,17,0,0,1,1,0,1,1,0,1,16
3,2743,100,837,1499,1,0,0,1,1,1,1,0
4,32277,44,38,0,12,0,1,1,1,0,1,0

In [67]:
train_set = pd.read_csv('data/full/baseline_dataset.csv', encoding='utf-8-sig')

In [78]:
train_set = train_set.drop('Unnamed: 0', axis=1)

In [83]:
df = df.reindex_axis(sorted(df.columns), axis=1)

/Users/Lorenzo/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version. Use '.reindex' instead.
  if __name__ == '__main__':

In [69]:
df.to_csv('data/full/baseline_testset.csv')

In [79]:
target = 'target'
features = train_set.columns[train_set.columns!=target]

In [80]:
X = train_set[features]
y = train_set[target]

In [81]:
# Fitting Random Forest Classification to the Training set
forest = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 42)
forest.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=42, verbose=0, warm_start=False)

In [84]:
df

,default_profile_image,description,favourites_count,followers_count,friends_count,listed_count,profile_background_image_url,profile_background_image_url_https,profile_background_tile,profile_use_background_image,statuses_count,url
0,0,160,258805,6495,6883,301,1,1,0,0,304192,0
1,0,0,0,376,1192,1,1,1,0,1,253,0
2,0,16,0,17,0,1,1,1,0,1,41766,1
3,0,0,1499,100,837,1,1,1,1,1,2743,0
4,1,0,0,44,38,12,1,1,0,1,32277,0

In [85]:
train_set

,default_profile_image,description,favourites_count,followers_count,friends_count,listed_count,profile_background_image_url,profile_background_image_url_https,profile_background_tile,profile_use_background_image,statuses_count,target,url
0,1,54,381,15,185,0,1,1,1,1,80,0,0
1,1,38,43,29,43,1,1,1,1,1,11,0,0
2,1,0,56,7,74,0,1,1,1,1,10,0,0
3,1,40,491,217,369,0,1,1,1,1,7372,0,0
4,1,64,241,10,17,0,1,1,1,1,55,0,0
5,1,44,141,9,130,0,1,1,1,1,31,0,0
6,1,83,0,297,4801,0,1,1,1,1,1,0,1
7,1,0,116,8,202,0,1,1,1,1,23,0,0
8,1,38,180,5,31,0,1,1,1,1,56,0,0
9,1,52,399,19,52,0,1,1,1,1,69,0,0
10,1,45,757,25,209,0,1,1,1,1,24,0,0
11,1,30,268,10,4,0,1,1,1,1,83,0,0
12,1,45,241,23,219,0,1,1,1,1,45,0,0
13,1,55,280,9,56,0,1,1,1,1,59,0,0
14,1,43,422,24,160,0,1,1,1,1,85,0,0
15,1,60,405,31,194,0,1,1,1,1,76,0,1
16,1,57,199,94,212,0,1,1,1,1,186,0,0
17,1,0,138,30,168,0,1,1,1,1,110,0,0
18,1,38,107,12,19,0,1,1,1,1,24,0,0
19,1,45,191,11,56,0,1,1,1,1,40,0,0
20,1,73,546,67,648,0,1,1,1,1,337,0,1
21,1,46,305,24,158,0,1,1,1,1,188,0,0
22,1,38,255,9,15,0,1,1,1,1,22,0,0
23,1,45,107,1,5,0,1,1,1,1,23,0,0
24,1,0,311,46,367,0,1,1,1,1,97,0,0
25,1,38,98,9,98,0,1,1,1,1,27,0,0
26,1,43,837,44,350,0,1,1,1,1,121,0,1
27,1,57,568,76,355,0,1,1,1,1,90,0,0
28,1,40,287,19,973,0,1,1,1,1,45,0,0
29,1,46,518,63,1197,0,1,1,1,1,419,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17820,0,28,3392,361,195,3,1,1,1,1,5348,4,0
17821,0,137,81,224,181,0,1,1,0,1,6309,4,0
17822,0,33,59,204,467,6,1,1,1,1,13837,4,0
17823,0,10,2977,2166,1627,0,1,1,1,1,36513,4,0
17824,0,11,11518,226,296,1,1,1,1,1,4448,4,1
17825,0,48,3868,258,308,1,1,1,0,1,4857,4,0
17826,0,76,1595,26510,581,26,1,1,1,1,8922,4,1
17827,0,80,75,299,166,0,1,1,0,1,718,4,0
17828,0,50,4300,255,254,3,1,1,0,0,8381,4,1
17829,0,47,7338,491,226,6,1,1,1,1,22317,4,0
17830,0,131,3634,1781,1858,32,1,1,1,0,166628,4,1
17831,0,88,11080,722,529,26,1,1,0,1,19287,4,0
17832,0,19,7868,583,420,0,1,1,1,1,11374,4,0
17833,0,110,607,437,304,27,1,1,0,1,128929,4,1
17834,0,119,1951,447,426,2,1,1,0,1,8582,4,0
17835,0,35,485,128,115,0,1,1,0,1,5991,4,0
17836,0,100,4304,561,1433,4,1,1,0,1,5852,4,0
17837,0,125,10545,3218,1943,10,1,1,1,1,26443,4,0
17838,0,109,4346,118,58,0,1,1,1,1,7411,4,0
17839,0,28,1300,212,219,0,1,1,0,1,1087,4,0
17840,0,154,1764,289,1368,10,1,1,0,0,5301,4,1
17841,0,26,29022,653,303,2,1,1,0,1,33605,4,0
17842,0,25,336,151,434,0,1,1,0,1,558,4,0
17843,0,20,39633,10273,98,77,1,1,1,1,62597,4,0
17844,0,20,54,13,68,0,1,1,0,1,400,4,0
17845,0,0,36,94,597,4,1,1,0,1,315,4,0
17846,0,74,471,5378,1238,6,1,1,0,1,4099,4,1
17847,0,0,6,18,136,0,1,1,0,1,199,4,0
17848,0,88,121,41,263,0,1,1,1,1,2609,4,0
17849,0,65,12105,498,109,5,1,1,0,0,20997,4,1