In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('users.csv')

In [4]:
df2 = pd.read_csv('porn_user2.csv')

In [25]:
df1.shape

(3798, 36)

In [22]:
df2 = df2.drop(columns=['Unnamed: 0'])

In [27]:
df2.shape

(3121, 36)

In [23]:
df1.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,utc_offset,is_translator,follow_request_sent,protected,verified,notifications,description,contributors_enabled,following,created_at
0,141182021,Elizabeth Little,ns_mia,80,15,185,381,0,NaN,en,...,NaN,False,False,False,False,False,Do you like fast? Come in! üòªüòªüòª https://t.co/wh...,False,False,2010-05-07 11:24:39
1,146443776,Lillian Warren,ihateluvstory,11,29,43,43,1,NaN,en,...,NaN,False,False,False,False,False,I worship you. https://t.co/cbcxWpisdO,False,False,2010-05-21 13:05:27
2,1148187661,Fabbe,FabianAronsson,10,7,74,56,0,NaN,sv,...,NaN,False,False,False,False,False,NaN,False,False,2013-02-04 14:38:16
3,316622618,Evelyn Garrison,SoSequeira,7372,217,369,491,0,NaN,es,...,NaN,False,False,False,False,False,You want me? üî•üî•üî• https://t.co/65YpJmZP4m,False,False,2011-06-13 18:34:04
4,405969757,Ella Morrison,ColieDava,55,10,17,241,0,NaN,en,...,NaN,False,False,False,False,False,Candy lady. Model/Beauty. Waiting you at https...,False,False,2011-11-06 02:19:32

In [24]:
df2.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,utc_offset,is_translator,follow_request_sent,protected,verified,notifications,description,contributors_enabled,following,created_at
0,459406984,Vivian Ogden,Franchistefano,50,21,142,159,0,NaN,it,...,NaN,False,False,False,False,False,NaN,False,False,2012-01-09 16:45:20
1,951174706673209344,Florence Oldridge,TheEindier,29,15,271,142,0,NaN,nl,...,NaN,False,False,False,False,False,Candy baby. Cosplayer/MARVEL fan. Click at htt...,False,False,2018-01-10 19:31:36
2,829398999518105604,Jasmine Eddington,DeFors753,8,9,2,151,0,NaN,ru,...,NaN,False,False,False,False,False,How do you like my site? üîû‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è https://t.co/...,False,False,2017-02-08 18:38:25
3,590765863,Adeyemo Adebayo,otunbaboyo,542,142,659,746,0,NaN,en,...,NaN,False,False,False,False,False,building and civil engineering contractor,False,False,2012-05-26 09:21:47
4,1331142307,Brenda Nelson,ShahirN67,155,29,13,299,0,NaN,en,...,NaN,False,False,False,False,False,I want you... üí´üí´üí´ https://t.co/MDq789bImV,False,False,2013-04-06 09:14:01

In [28]:
df1 = df1.append(df2, ignore_index=True, verify_integrity=False)

In [30]:
df1.to_csv('users.csv')

In [31]:
tw1 = pd.read_csv('tweets.csv', sep='\t', encoding='utf-8-sig')

/home/matteo/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [32]:
tw1.head()

,contributors,coordinates,created_at,display_text_range,extended_entities,favorite_count,favorited,full_text,geo,id,...,retweet_count,retweeted,retweeted_status,source,truncated,url,user_id,withheld_copyright,withheld_in_countries,withheld_scope
0,NaN,NaN,Sat Jan 06 10:03:06 +0000 2018,"[0, 0]",{u'media': [{u'expanded_url': u'https://twitte...,2,False,https://t.co/esART8smVX,NaN,949582086998036480,...,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,NaN,1113472201,NaN,NaN,NaN
1,NaN,NaN,Fri Jan 05 09:38:26 +0000 2018,"[0, 140]",NaN,0,False,RT @zaynwinterfell: 1d stans acting like 1d is...,NaN,949213492950822912,...,36,False,{u'full_text': u'1d stans acting like 1d is su...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,NaN,1113472201,NaN,NaN,NaN
2,NaN,NaN,Fri Jan 05 08:26:24 +0000 2018,"[0, 0]",{u'media': [{u'expanded_url': u'https://twitte...,0,False,https://t.co/KiTk9FMJwj,NaN,949195363273052161,...,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,NaN,1113472201,NaN,NaN,NaN
3,NaN,NaN,Fri Jan 05 08:25:41 +0000 2018,"[0, 0]",{u'media': [{u'expanded_url': u'https://twitte...,0,False,https://t.co/KGjAK50Px0,NaN,949195183081639937,...,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,NaN,1113472201,NaN,NaN,NaN
4,NaN,NaN,Fri Jan 05 08:23:16 +0000 2018,"[0, 0]",{u'media': [{u'expanded_url': u'https://twitte...,0,False,https://t.co/oDlvrgZMfe,NaN,949194573884084224,...,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,NaN,1113472201,NaN,NaN,NaN

In [34]:
tw2 = pd.read_csv('porn_tweets2.csv', sep='\t', encoding='utf-8-sig')

In [35]:
tw2.head()

,contributors,coordinates,created_at,display_text_range,extended_entities,favorite_count,favorited,full_text,geo,id,...,quoted_status_id_str,quoted_status_permalink,retweet_count,retweeted,retweeted_status,source,truncated,url,user_id,withheld_in_countries
0,NaN,NaN,Tue Feb 20 17:49:53 +0000 2018,"[0, 123]","{'media': [{'id': 964970591597015041, 'id_str'...",0,False,RT @deferencelili: the club was full of stripp...,NaN,966007010130124800,...,NaN,NaN,24,False,{'created_at': 'Sat Feb 17 21:12:55 +0000 2018...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,NaN,205071120,NaN
1,NaN,NaN,Tue Feb 20 17:49:14 +0000 2018,"[0, 140]",NaN,0,False,RT @ebfavs: ‚ÄúShould you choose to forgo your i...,NaN,966006847579873280,...,NaN,NaN,1261,False,{'created_at': 'Tue Feb 20 04:26:50 +0000 2018...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,NaN,205071120,NaN
2,NaN,NaN,Tue Feb 20 17:44:13 +0000 2018,"[0, 46]","{'media': [{'id': 905953503943778304, 'id_str'...",0,False,RT @hsiren4: Come play https://t.co/HoYIWXSbdI,NaN,966005582426787846,...,NaN,NaN,31,False,{'created_at': 'Fri Sep 08 00:38:49 +0000 2017...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,NaN,205071120,NaN
3,NaN,NaN,Tue Feb 20 17:40:42 +0000 2018,"[0, 60]","{'media': [{'id': 963801057758343173, 'id_str'...",0,False,RT @mandarin_010923: 180214 ÎøåÏö∞ #ÎùºÏù¥Í¥ÄÎ¶∞ https://t...,NaN,966004697957101569,...,NaN,NaN,4509,False,{'created_at': 'Wed Feb 14 15:44:16 +0000 2018...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,NaN,205071120,NaN
4,NaN,NaN,Tue Feb 20 17:34:24 +0000 2018,"[0, 57]",NaN,0,False,RT @aigoohyunjin: why indirect me when my dm's...,NaN,966003113625833472,...,NaN,NaN,1,False,{'created_at': 'Tue Feb 20 13:58:05 +0000 2018...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,NaN,205071120,NaN

In [36]:
tw1.shape

(191567, 34)

In [37]:
tw2.shape

(5385, 32)

In [38]:
tw1 = tw1.drop(columns=['withheld_copyright', 'withheld_in_countries', 'withheld_scope'])

In [39]:
tw1.shape

(191567, 31)

In [40]:
tw2 = tw2.drop(columns=['withheld_in_countries'])

In [41]:
tw2.shape

(5385, 31)

In [42]:
tw1 = tw1.append(tw2, ignore_index=True, verify_integrity=False)

In [45]:
tw1.shape

(196952, 31)

In [48]:
tw1.to_csv('tweets.csv', sep='\t', encoding='utf-8-sig')